<%= form_for (@task) do |f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :details %><br>
    <%= f.text_field :details %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
